<!DOCTYPE html>
<html>
  <head>
    <title>Timetable Changes</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-18262427-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-18262427-2');
    </script>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <footer>
      Made by <a href="https://chriszetter.com/">Chris Zetter</a>, train times supplied by <a href="https://www.transportapi.com/">transportapi</a>, chart inspired by <a href="https://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0003zP#bboard_content">E. J. Marey</a><br/>
      If something look wrong, please <a href="https://twitter.com/messages/compose?recipient_id=19557235">let me know</a>.<br/>
      This is a toy project, if you’re planning a journey please check times on a <a href="http://www.nationalrail.co.uk/">real website</a>.
    </footer>
  </body>
</html>
